<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/asknow.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top asknow-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo-asknow" src="img/logo/logo.png" alt="">
        AskNow
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="people">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="videosdemos">Videos and Demos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="icon-bar">
    <!-- <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>  -->
    <a href="https://twitter.com/AskNowQA" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
    <!-- <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>  -->
    <a href="https://github.com/AskNowQA" class="github" target="_blank"><i class="fa fa-github"></i></a>
  </div>

  <!-- Page Content -->
  <div class="container padding-top-30 min-height-600">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">People
      <!-- <small>Subheading</small> -->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">People</li>
    </ol>

    <!-- Intro Content -->
    <!-- <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Modern Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div> -->
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row" id="people"></div>
    <!-- /.row -->

    <!-- Our Customers -->
    <!-- <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <!-- Footer Links -->
    <div class="container container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase text-white">AskNow - Question Answering</h5>
          <p class="text-white">AskNow gives you answers for your questions directly instead a list of documents in which you have to search.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase text-white">Links</h5>
          <ul class="list-unstyled">
            <li><a target="_blank" href="http://sda.cs.uni-bonn.de/people/prof-dr-jens-lehmann/
">Prof Jens Lehmann</a></li>
            <li><a target="_blank" href="http://sda.cs.uni-bonn.de/?s=asknow
">SDA Blog</a></li>
            <li><a target="_blank" href="http://sda.cs.uni-bonn.de/
">SDA Group</a></li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase text-white">Menu</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="people">People</a>
            </li>
            <li>
              <a href="projects">Projects</a>
            </li>
            <li>
              <a href="publications">Publications</a>
            </li>
            <li>
              <a href="videosdemos">Videos and Demos</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white">
      Copyright &copy; AskNow 2019
      <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

    <!-- /.container -->
  </footer>

  <script type="text/html" id="people-html">
    <div class="col-lg-3 mb-3">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="${img}" alt="">
          <div class="card-body">
            <h4 class="card-title">${name}</h4>
            <h6 class="card-subtitle mb-2 text-muted">${role}</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">${email}</a>
          </div>
        </div>
      </div>
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/people.js"></script>

</body>

</html>
