<script>
	function activate(div){
		document.getElementById('home').style.color = "#f68712cc";
		document.getElementById('people').style.color = "#f68712cc";
		document.getElementById('projects').style.color = "#f68712cc";
		document.getElementById('publications').style.color = "#f68712cc";
		document.getElementById('contact').style.color = "#f68712cc";
		document.getElementById('demos').style.color = "#f68712cc";

		document.getElementById(div).style.color = "#403D83";
	}

</script>

<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	<!-- {% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %} -->
	<a id="home"  href="../">Home</a>
	<a id="people"  href="../people.html">People</a>
	<a id="projects"  href="../project.html">Projects</a>
	<a id="publications"  href="../publication.html">Publications</a>
	<a id="demos"  href="../demos-videos.html">Demos & Videos</a>
	<a id="contact"  href="../contact.html">Contact</a>
</nav>
