.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.embededVideo {
	width: 790px;
	height: 540px;
}


/* #Carrot Flat Button
REFERENCE: http://cssdeck.com/labs/beautiful-flat-buttons
==================================================*/
.carrot-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e67e22;
  border: 0;
  border-bottom: 2px solid #da751c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #da751c;
  box-shadow: inset 0 -2px #da751c;
}
.carrot-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.carrot-flat-button:hover {
	background: #e98b39;
	color: #757575;
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.twitterHandler {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.twitter-block {
		max-width: 750px;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, white 0%, white 100%) no-repeat #a05fb7;
	padding-top: 152px;
	color: $middle-gradient-color;

	p {
		color: $middle-gradient-color;
	}
}

// media querries for screen effecting HTML5 DOM ELEMENTS
@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.embededVideo {
		width: 760px;
		height: 540px;
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

@media #{$tablet} {

	.embededVideo {
		width: 446px;
		height: 340px;
	}

}

@media #{$mobile} {

	.embededVideo {
		width: 306px;
		height: 240px;
	}

}

@media #{$mid-point} {

	.embededVideo {
		width: 612px;
		height: 480px;
	}

}

.text-explanation {
	list-style: none;

	li::before {
		content: "•";
		font-size: 24px;
		color: $brand-color;
		display: inline-block;
		width: 1em;
  	margin-left: -1em
	}
	li {
		font-size: 1.38em;
		color: #666;
		font-weight: 300;
		line-height: 1.4em;
		margin-bottom: 12px;
	}
}

.explainConcept {
	text-align: justify;
	text-justify: inter-character;
}

// logo lists
.brandingList {
	padding: 0;
	list-style: none;
	min-width: 100%;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		// padding: 30px 20px;
		box-sizing: border-box;
		max-width: 25%;

		@media #{$tablet} {
			@include flex(1, 1, 45%);
			max-width: 50%;
		}

		@media #{$desktop} {
			@include flex(1, 1, 29%);
			max-width: 25%;

		}

		@media #{$mobile} {
			@include flex(1, 1, 29%);
			max-width: 100%;

		}

		@media #{$mid-point} {
			@include flex(1, 1, 29%);
			max-width: 25%;

		}

	}

	.branding-image {
		img{
			width: 180px;
			height: 180px;
			object-fit: contain;
		}

	}

}
