$brand-color: #F68712;
$temp-bg-color: #FFF;
$secondary-brand-color: #ecf0f1;
$middle-gradient-color: mix( $temp-bg-color, $secondary-brand-color, 65%);


// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$mobile: "(min-width: 320px)"
