---
layout: default
rdf_prefix_path: sda.tech.pref

addLineOne: Fraunhofer IAIS, Schloss Birlinghoven
addLineTwo: 53757 Sankt Augustin
country: Germany

addTwoLineOne: University of Bonn, Institut für Informatik III at Endenicher Allee 19a
addTwoLineTwo: 53115 Bonn

contactPersonOneName: Prof. Jens Lehmann
contactPersonOneEmail: Jens.Lehmann@iais.fraunhofer.de
contactPersonOnePhone: +49 2241 14-2792
contactPersonOneImage: /assets/passbild_lehmann.jpg
contactPersonOneStatus: Lead Scientist

contactPersonTwoName: Mohammad K. Nammous
contactPersonTwoEmail: Mohammad.Kheir.Nammous@iais.fraunhofer.de
contactPersonTwoPhone: +49 2241 14-2206
contactPersonTwoImage: /assets/nammous4.jpg
contactPersonTwoStatus: Business Developer

contactHeadingOne: Fraunhofer Institute for Intelligent Analysis and Information Systems IAIS
linkHeadingOne: http://www.iais.fraunhofer.de/en/AskNow
---

<script>
	activate("contact");
</script>

{% capture secondPersonImage %}{{site.baseurl}}{{page.contactPersonTwoImage}}{% endcapture %}
<div class="content">
	<section class="page">
		<div class="container">
			<h2>Contact Us</h2>
      <div class="address">
    		<p class="subtext orange"><strong>{{page.contactHeadingOne}}</strong></p>
				<p class="linkMain"><a href="{{page.linkHeadingOne}}" target="_blank" >{{page.linkHeadingOne}}</a></p>
        <p class="addressLine">{{page.addLineOne}}, {{page.addLineTwo}}, {{page.country}}</p>
				<p class="addressLine">{{page.addTwoLineOne}}, {{page.addTwoLineTwo}}, {{page.country}}</p>
        <br/><br/><br/>
        <ul class="staff">
          {% include contact_person_card.html name=page.contactPersonOneName image=page.contactPersonOneImage email=page.contactPersonOneEmail phone=page.contactPersonOnePhone status=page.contactPersonOneStatus %}
          {% include contact_person_card.html name=page.contactPersonTwoName image=secondPersonImage email=page.contactPersonTwoEmail phone=page.contactPersonTwoPhone status=page.contactPersonTwoStatus %}
        </ul>
      </div>
		</div>
	</section>
</div>
