---
layout: default
rdf_prefix_path: rdf-data/sda.tech.pref
---
<section class="hero hero2">
	<div class="text-container">
		<h1 class="editable"><strong>Demos & Videos</h1>
		<br/><br/>
		 <div class="video">
			 <iframe class="embededVideo" src="https://www.youtube.com/embed/3LkCwvzrE9Q?cc_load_policy=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
    <br/><br/>
    <br/><br/>
		<div class="wrapper">
			<input type="submit" value="DEMO: https://asknowdemo.sda.tech/" class="carrot-flat-button" target="_blank" onclick="location.href='http://asknowdemo.sda.tech/';">
		</div>
	</div>
</section>

<script>
	activate("demos");
	setTitle("Demos");
</script>
