---
layout: default
rdf_prefix_path: rdf-data/sda.tech.pref
---
<section class="hero hero2">
	<div class="text-container">
		<h1 class="editable" style="color:#000"><strong>Demos & Videos</strong></h1>
		<br>
		<h2 style="color:#666"><strong>"Question Answering" </strong>– Interview mit Prof. Dr. Jens Lehmann, Fraunhofer IAIS</h2>
		<br/><br/>
		 <div class="video">
			 <iframe class="embededVideo" src="https://www.youtube.com/embed/3LkCwvzrE9Q?cc_load_policy=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
    <br/><br/>
    <br/><br/>
	</div>
</section>
<div class="content">
	<section class="contentTwo">
		<br/><br/><br/>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>AskNow</strong></h2>
				<br/><br/>
				 <div class="video">
				<iframe width="1139" height="712" src="https://www.youtube.com/embed/1QeTheMFzIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>				</div>
		    <br/><br/>
				<!-- <div class="wrapper">
					<input type="submit" value="DEMO" class="carrot-flat-button" target="_blank" onclick="location.href='http://asknowdemo.sda.tech/';">
				</div> -->
				<ul class="text-explanation">
					<li>Link to Demo: <a href="http://asknowdemo.sda.tech/" target="_blank">http://asknowdemo.sda.tech/</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="contentOne">
		<br/><br/><br/>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>FRANKENSTEIN</strong></h2>
				<p>Frankenstein is a platform that seamlessly integrates heterogeneous components performing different tasks of a Question-Answering System (e.g. entity recognition, relation linking). These components can either be used independently for annotating any short text or as part of a QA pipeline (i.e. system).</p>
				<!-- <div class="image">
					<img src="{{ site.baseurl }}/assets/conceptBanner.png" alt="Screenshot" class="screenshot editable" />
				</div> -->
				<br/><br/>
				<div class="video">
					<iframe width="1139" height="712" src="https://www.youtube.com/embed/_DY8N5d1klI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<br/><br/>
				<!-- <div class="wrapper">
					<input type="submit" value="DEMO" class="carrot-flat-button" target="_blank" onclick="location.href='http://frankenstein.qanary-qa.com/';">
				</div> -->
				<ul class="text-explanation">
					<li>Link to Demo: <a href="http://frankenstein.qanary-qa.com/" target="_blank">http://frankenstein.qanary-qa.com/</a></li>
				</ul>
			</div>
		</div>
		<br/><br/><br/>
	</section>
</div>
<script>
	activate("demos");
	setTitle("Demos");
</script>
