---
layout: default
rdf_prefix_path: sda.tech.pref
---

<div class="content">
	<section class="page">
		<div class="container">
			<h2>Our Team</h2>
			<p class="subtext">Our team consists of amazing people</p>
			<!--QUERY TO GET ALL THE PEOPLE  -->
			{% capture query %} SELECT ?Person ?name ?fname ?title ?status ?image ?website WHERE{ ?Person a foaf:Person . ?Person foaf:familyName ?name . ?Person foaf:status ?status . ?Person foaf:depiction ?image .
		      ?Person foaf:firstName ?fname . ?Person foaf:title ?title . ?Person sda:website ?website . } {% endcapture %} {% assign SDAPeople = page.rdf | sparql_query: query %}
			{% capture query %} SELECT ?Person ?name ?fname ?group ?groupname WHERE{ ?Person a foaf:Person . ?Person foaf:familyName ?name . ?Person foaf:firstName ?fname . ?Person sda:group ?group . ?group rdfs:label ?groupname .} {% endcapture %} {% assign peopleGroups = page.rdf | sparql_query: query %}

			<ul class="staff">
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status=people.status image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</section>
</div>
