---
layout: default
rdf_prefix_path: sda.tech.pref
---
<script>
	activate("people");
</script>
<div class="content">
	<section class="page">
		<div class="container">
			<h2>Our Team</h2>
			<p class="subtext">Our team consists of amazing people</p>
			<!--QUERY TO GET ALL THE PEOPLE  -->
			{% capture query %} SELECT ?Person ?name ?fname ?title ?status ?image ?website WHERE{ ?Person a foaf:Person . ?Person foaf:familyName ?name . ?Person foaf:status ?status . optional{ ?Person foaf:depiction ?image }.
		     optional{  ?Person foaf:firstName ?fname  } . optional{  ?Person foaf:title ?title  } . optional{  ?Person sda:website ?website  } . } {% endcapture %} {% assign SDAPeople = page.rdf | sparql_query: query %}
			{% capture query %} SELECT ?Person ?name ?fname ?group ?groupname WHERE{ ?Person a foaf:Person . ?Person foaf:familyName ?name . ?Person foaf:firstName ?fname . ?Person sda:group ?group . ?group rdfs:label ?groupname . } {% endcapture %} {% assign peopleGroups = page.rdf | sparql_query: query %}

			<ul class="staff">
				<!-- Mentor  -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status}}{% endcapture %}
						{% capture name %}{{people.name}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and name=="Lehmann" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status="Mentor" image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<!-- Expert Group Leader -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status}}{% endcapture %}
						{% capture name %}{{people.name}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and name=="Napolitano" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status="Expert Group Leader" image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<!-- Senior Researcher and Mentor -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status}}{% endcapture %}
						{% capture name %}{{people.name}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and name=="Lytra" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status="Senior Researcher / Mentor" image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<!-- Researcher -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and personStatus=="Researcher" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status=people.status image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<!-- Phd Student -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status | downcase }}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and personStatus ==  "phd student" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status=people.status image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				<!-- Student Assistant -->
				{%  for people in SDAPeople %}
					{% for personInGroup in peopleGroups %}
						{% capture groupname %}{{personInGroup.groupname}}{% endcapture %}
						{% capture personStatus %}{{people.status}}{% endcapture %}
						{% if people.name == personInGroup.name and people.fname == personInGroup.fname and groupname == "Semantic Question Answering" and personStatus=="Student Assistant" %}
							{% include people_card.html name=people.name firstname=people.fname title=people.title status=people.status image=people.image website=people.website  %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</section>
</div>
