---
rdf_prefix_path: sda.tech.pref
layout: default
---

<h1>{{ page.rdf.iri }}</h1>
<h1>Rohan Asmat</h1><h1>Rohan Asmat</h1>

{% capture query %} SELECT ?Person ?name ?fname ?title ?status ?room ?linkedin ?website ?mailto ?image WHERE{ ?Person a foaf:Person . ?Person a sdatech:professor . ?Person foaf:familyName ?name . ?Person foaf:status ?status . ?Person foaf:mbox ?mailto . ?Person foaf:depiction ?image .
      ?Person sda:room ?room . ?Person foaf:firstName ?fname . ?Person foaf:title ?title . ?Person sda:website ?website . ?Person sda:linkedin ?linkedin .} {% endcapture %} {% assign professorsArray = page.rdf | sparql_query: query %}

    {{professorsArray}}
